{% extends "base.njk" %}

{% block content %}

<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% for post in collections.blog %} 
        {% if (post.data.featured === true ) %}
          <article class="featured-post">
            <div class="featured-post-content">
              <div class="featured-post-author">
                <img src="{{ setting.authorLogo }}" alt="author" />
                <p>By <a href="/about">{{ setting.author }}</a></p>
              </div>
              <a href="{{ post.url }}" class="featured-post-title">
                {{ post.data.title }}
              </a>
              <ul class="featured-post-meta">
                <li>
                  <i class="fa fa-clock-o"></i>
                  {{ post.date.toDateString() }} - {{ post.data.readTime }}
                </li>
              </ul>
            </div>
            <div class="featured-post-thumb">
              <img src="{{ post.data.thumbnail }}" alt="feature-post-thumb" />
            </div>
          </article>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-section-title">
          <h2>{{ blog.title }}</h2>
          <p>{{ blog.description }}</p>
        </div>
        {% for post in collections.blog %} 
        {% if (loop.index <= 3) %}
          <article class="blog-post">
            <div class="blog-post-thumb">
              <img src="{{ post.data.thumbnail }}" alt="blog-thum" />
            </div>
            <div class="blog-post-content">
              <div class="blog-post-tag">
                <a href="/category">{{ post.data.tag }}</a>
              </div>
              <div class="blog-post-title">
                <a href="{{ post.url }}">{{ post.data.title }}</a>
              </div>
              <div class="blog-post-meta">
                <ul>
                  <li>By <a href="/about">{{ setting.author }}</a></li>
                  <li>
                    <i class="fa fa-clock-o"></i>
                   {{ post.date.toDateString() }} - {{ post.data.readTime }}
                  </li>
                </ul>
              </div>
              <p>
                {# {{ Summary}} #}
              </p>
              <a href="{{ post.url }}" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
            </div>
          </article>
        {% endif %}
        {% endfor %}
        
      </div>
      <div class="col-lg-4">
        <div class="blog-post-widget">
          <div class="latest-widget-title">
            <h2>Trending post</h2>
          </div>
        {% for post in collections.blog %} 
        {% if (post.data.tranding === true ) %}
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="single-blog.html">
                <img src="{{ post.data.thumbnail }}" alt="blog-thum" /></a>
              <div class="icon">
                <a href="single-blog.html">
                  <img src="/assets/images/blog/icon.svg" alt="icon" /></a>
              </div>
            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="{{ post.url}}">{{ post.data.title }}</a>
              </div>
              <div class="content-meta">
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    October 19, 2020 - 2 min
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}