{% extends "base.njk" %}

{% block content %}
<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 order-2 order-lg-1">
        <div class="share-now">
          <a href="#" class="scrol">Share</a>
          <div class="sociel-icon">
            <ul>
              <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
              <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
              <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-10 order-1 order-lg-2">
        <article class="single-blog">
          <a href="#" class="tag">{{ tag }}</a>
          <p class="title">{{ title }}</p>
          <ul class="meta">
            <li>By <a href="/about">{{ setting.author }}</a></li>
            <li>
              <i class="fa fa-clock-o"></i>
              {{ date.toDateString() }} - {{ readTime }}
            </li>
          </ul>
          <div class="feature-image">
              <img src="{{ featureImage }}" alt="banner">
          </div>
            <div class="single-blog-content">
            {{ content | safe }}
          </div>
        </article>
        <div class="blog-single-presentation">
          <ul>
            <li> <a href="#" class="tag">PREVIOUS</a>
              <a href="#" class="title">I Moved Across the Country
                and Never Looked Back</a>
              <i class="fa fa-clock-o"></i>
              October 19, 2020 - 2 min
            </li>
            <li> <a href="#" class="tag">Next</a><a href="#" class="title">Every Next Level of Your Life
                Will Demand a Different</a><i class="fa fa-clock-o"></i>
              October 19, 2020 - 2 min</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}