{% extends "base.njk" %}

{% block content %}
<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 order-2 order-lg-1">
        <div class="share-now">
          <a href="#" class="scrol">Share</a>
          <div class="sociel-icon">
            <ul>
              <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
              <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
              <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-10 order-1 order-lg-2">
        <article class="single-blog">
          <a href="#" class="tag">{{ tag }}</a>
          <p class="title">{{ title }}</p>
          <ul class="meta">
            <li>By <a href="/about">{{ setting.author }}</a></li>
            <li>
              <i class="fa fa-clock-o"></i>
              {{ date.toDateString() }} - {{ readTime }}
            </li>
          </ul>
          <div class="feature-image">
              <img src="/assets/{{ featureImage }}" alt="banner">
          </div>
            <div class="single-blog-content">
            {{ content | safe }}
          </div>
        </article>
        <div class="blog-single-presentation">
           
          <ul>
            {% if prevPost %}
            <li> <a href="{{ prevPost.url }}" class="tag">PREVIOUS</a>
              <a href="{{ prevPost.url }}" class="title">{{ prevPost.data.title }}</a>
              <i class="fa fa-clock-o"></i>
              {{ prevPost.data.date.toDateString() }}
            </li>
            {% endif %}
            {% if nextPost %}
            <li>
              <a href="{{ nextPost.url }}" class="tag">Next</a><a href="{{ nextPost.url }}" class="title">{{ nextPost.data.title }}</a><i class="fa fa-clock-o"></i>
              {{ nextPost.data.date.toDateString() }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}